body{
  background: rgb(213,128,255);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.centered {
    text-align: center;
		margin: 5%;
}

img::selection 
{
    background: transparent;
}

* {
  cursor: url(dot.png), auto;
}

#button {
  margin: 10%;
}
.text3{
  color: white;
  text-shadow: 2px 2px 10px black;
}
.text1{
  color: white;
  text-shadow: 2px 2px 10px black;
}
.text{
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 10px black;
}
.bouttonsMulti{
	background: rgb(187,51,255);
  position: absolute;
  border-radius: 5px;
  box-shadow: 2px 2px 2px purple;
	top:5%;
  right: 8%;
	height: 685px;
	width: 250px;
}
#pointParClick {
	background: rgb(187,51,255);
  border-radius: 5px;
	position: absolute;
  box-shadow: 2px 2px 2px purple;
	top: 50px;
	height: 25px;
	width: 150px;
  line-height: 25px;
}
.pageQuestion, .pageReponse {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.txtQuestion, .txtReponse{
  position:relative;
  top: 150px;
  color: white;
  text-shadow: 2px 2px 10px black;
}

.pan:active{
  width: 260px;
}.pan:active{
  width: 210px;
}


#minuterie{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-debut {
  position: absolute;
  top: 75%; 
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 48px;
  font-size: 42px;
  border: 1px solid purple;
  color: white;
  background: #E34EFD;
  text-decoration: none;
  border-radius: 30px; 
  cursor: pointer;
  margin: auto;
  overflow: hidden;
  transition: 0.3s;
}

.btn-debut:hover {
  background: purple;
}

.btn-debut::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 90%;
height: 100%;
background: linear-gradient(90deg, transparent, white, transparent);
  transition: 0.38s;
  
}

.btn-debut:hover::before {
  left: 100%;
}

#btnRetour {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
} 

 .btn-jeux, .score-btn {
  position: relative;

  text-decoration: none;
  color: white;
  background: #E34EFD;
  border-radius: 30px;
  border: 1px solid purple;
  padding: 8px 16px;
  margin: 5px;
  transition: 0.35s;
}

.btn-jeux:hover, .score-btn:hover {
  background: purple;
  cursor: pointer;
} 

.btn-opacity {
  opacity: 0.4;
}

.btn-opacity-un {
  opacity: 1;
}

img {
cursor: url(dot.png), auto;
-webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
}

#record {
  position: absolute;
  left: 10px;
  bottom: 5%;
  line-height: 30px;
  
}

#high {
  margin-left: 12px;
  font-size: 13px;
  color: white;
  text-shadow: 2px 2px 10px black;
  text-decoration: underline;
  position: absolute;
  left: 10px;
  bottom: 10px;
}


#score{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9966CC;
  border-radius: 5px;
  width: 50vw;
  height: 50vh;
}

#txtScores {
  color: black;
}

#retour-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1px;
  margin-top:5px;
  padding: 5px 10px;
  font-size: 30px;
  border-radius: 50%;
  color: black;
  z-index: 5;
}

.difficulte-btns {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  display: flex;
}

.btn-facile-active {
  order: 1;
  background: purple;
}
/* FIX SO THAT WHEN YOU CLICK AND ITS ACTIVE THE COLOR CHANGES */
.btn-moyen {
  order: 2;
}

.btn-difficile {
  order: 3;
}

.btn-moyen:hover~.btn-facile-active {
  background: #E34EFD;
}
.btn-difficile:hover~.btn-facile-active {
  background: #E34EFD;
}

a:hover {
  background: purple;
}


.x {
  height: 35px;
  transition: transform .2s;
}
.x:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.y {
  position:absolute;
  left:-20px;
  top:5px;
  height: 60px;
  transition: transform .2s;
}
.y:hover{
  transform: scale(1.1);
  cursor: pointer;
}

#txtScores{
  margin-left: 15px;
  margin-top: 15px;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 10px black;
}
.prec{
  margin-left: 15px;
  margin-top: 15px;
  color: white;
  text-shadow: 2px 2px 10px black;
  text-decoration: underline;
}

.pageTermine {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.termineCss{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 25px;
}
.explique{
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 10px black;
  text-align:center;
  margin-top:25%;
}

.txtRegles {
  position: absolute;
  top:1px;
  left:1px;
  background-color: #9966CC;
  border-radius: 5px;
}
.explique-jeux{
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 10px black;
  margin-top: 10px;
  margin-left:10px;
  margin-right: 10px;
}
.ex{
  color: white;
  text-shadow: 2px 2px 10px black;
  margin-top: 10px;
  margin-left:10px;
  margin-right: 10px;
}
.x2 {
  margin-left:90%;
  height: 35px;
  transition: transform .2s;
}
.x2:hover{
  transform: scale(1.1);
  cursor: pointer;
}
